.card {
    width: 500px;
    padding: 10px;
    border: 10px solid;
    border-image:
    linear-gradient(
        #ff512f,
        #dd2476,
        #1c64ff) 1;
    animation: rotate 2.5s ease-in infinite;
}

.card img{
    width: 100%;
}

@keyframes rotate{
    50% {
        border-image: 
        linear-gradient(
            360deg,
            #ff512f,
            #dd2476,
            #1c64ff) 1;
    }
}